FORMAT: 1A
HOST: http://marveldb.net/api


# Marvel-World API

Marvel-World is a simple API allowing users to view characters, comics, series, creators, and events of the Marvel-World database.

*IMPORTANT NOTE ABOUT OUR API: we ugraded to the new flask_restless, and as a result our API must accept headers or it won't work. 
In order to do use our API, you must follow these steps:

1. Install an application called PostMan. There is a chrome extension for it as well.
2. Once you fire PostMan up, enter http://marveldb.net/api on request URL, and one of our models as well, ex: http://marveldb.net/api/characters
3. Click on Headers, type "Accept" into the key, and "application/vnd.api+json" for the value. 
4. Hit Send and you're good to go.


** Another important note about our API: for the GET all instances of a model requests, there are separated into different pages. You must
scroll all the way down on the body of the request, copy the link to the next page, and paste it in the request URL. You can enter whatever
page you want. This is evident in our Apiary. 
For example, when you scroll down on GET All Characters in this Apiary, you should see "links" in the JSON, it shows links
for the current page (first), the last page, and the next page. If you want to go to the next page for GET All Characters request, copy the entire
link "http://marveldb.net/api/characters?page[number]=2&page[size]=6" and paste it into the request URL on PostMan and hit send. This is the same
for all models.


# Group Characters
Character related resources from the Marvel-World API.
## Character Collection [/characters]
A list of all the characters available. This list contains the characters names,
along with their unique ID's. The unique ID can be used to look up a certain character.

### Get All Characters [GET]
+ Response 200 (application/json)

            { 
                "data": [
        		   {
        			"attributes": {
        				"desc": "AIM is a terrorist organization bent on destroying the world.",
        				"img": "http://i.annihil.us/u/prod/marvel/i/mg/6/20/52602f21f29ec.jpg",
        				"name": "A.I.M.",
        				"num_comics": "33",
        				"num_events": "0",
        	            "num_series": "23",
         			},
        			"id": "1009144",
        			"links": {
        			   "self": "http://marveldb.net/api/characters/1009144"
        			},
        			"relationships": {
        				"comics": {
        				 	"data": [],
        					"links": {
        						"related": "/api/characters/1009144/comics",
        						"self": "/api/characters/1009144/relationships/comics"
        					}
        				},
        				"events": {
        					"data": [],
        					"links": {
        						"related": "/api/characters/1009144/events",
        						"self": "/api/characters/1009144/relationships/events"
        					}
        				},
        				"series": {
        					"data": [],
        					"links": {
        						"related": "/api/characters/1009144/series",
        						"self": "/api/characters/1009144/relationships/series"
        					}
        				}
        			},
        			"type": "characters"
        		},
            		{
            			 "attributes": {
                            "desc": "",
                            "img": "",
                            "name": "Abomination (Ultimate)",
                            "num_comics": "3",
                            "num_events": "0",
                            "num_series": "3",
                        },
                            "id": "1016823",
                            "links": {
                            "self": "http://marveldb.net/api/characters/1016823"
                            },
                            "relationships": {
                                "comics": {
                                    "data": [3],
                                    "links": {
                                    "related": "/api/characters/1016823/comics",
                                    "self": "/api/characters/1016823/relationships/comics"
                                    }
                               },
                               "events": {
                                    "data": [0],
                                    "links": {
                                    "related": "/api/characters/1016823/events",
                                    "self": "/api/characters/1016823/relationships/events"
                                    }
                                },
                                "series": {
                                    "data": [],
                                    "links": {
                                    "related": "/api/characters/1016823/series",
                                    "self": "/api/characters/1016823/relationships/series"
                                    }
                                }
                            },
                            "type": "characters"
                        }
                    ],
                    "jsonapi": {
                        "version": "1.0"
                    },
                    "links": {
                        "first": "http://marveldb.net/api/characters?page[number]=1&page[size]=6",
                        "last": "http://marveldb.net/api/characters?page[number]=255&page[size]=6",
                        "next": "http://marveldb.net/api/characters?page[number]=2&page[size]=6",
                        "prev": null,
                        "self": "/api/characters"
                    },
                    "meta": {
                        "total": 1526
                    }
                }
			


## Character [/characters/{id}]
Retrieves information on a certain character.
+ Parameters
    + id: 1 (required, number) - unique id for each character


### Retrieve Single Character [GET]
+ Response 200 (application/json)

    + Body
    
              {
                    "data": {
                        "attributes": {
                            "desc": "",
                            "img": null,
                            "name": "Abomination (Ultimate)",
                            "num_comics": "3",
                            "num_events": "0",
                            "num_series": "3"
                        },
                        "id": "1016823",
                        "links": {
                            "self": "http://marverldb.net/api/characters/1016823"
                        },
                        "relationships": {
                            "comics": {
                                "data": [
                                    {
                                        "id": "1186",
                                        "type": "comics"
                                    },
                                    {
                                        "id": "1151",
                                        "type": "comics"
                                    },
                                    {
                                        "id": "15717",
                                        "type": comics"
                                    }
                                ],
                                "links": {
                                    "related": "/api/characters/1016823/comics",
                                    "self": "/api/characters/101682/relationship/comics"
                                }
                            },
                            "events": {
                                "data": [],
                                "links": {
                                    "related": "/api/characters/1016823/events",
                                    "self": "/api/characters/1016823/relationships/events"
                                }
                            },
                            "series": {
                                "data": [
                                    {
                                        "id": "474",
                                        "type": "series"
                                    },
                                    {
                                        "id": "210",
                                        "type": "series"
                                    },
                                    {
                                        "id": "243",
                                        "type": "series"
                                    }
                                ],
                                "links": {
                                    "related": "/api/characters/1016823/series",
                                    "self": "/api/characters/1016823/relationships/series"
                                }
                            }
                        },
                        "type": "characters"

                    },
                    "jsonapi": {
                        "version": "1.0"
                    },
                    "links": {
                        "self": "/api/characters"
                    },
                    "meta": {}
                }


# Group Creators
Comic related resources of the Marvel-World API.

## Creator Collection [/creators]
A collection of all the comic books that are available. The list of comics contains a comic's title, image, and a unique ID. The unique ID can be used to look up a certain comic.

### Get All Creators [GET]
+ Response 200 (application/json)

    + Body
    
            { 
                "data": [
                   {
                    "attributes": {
                        "full_name": "Tim Bradstreet",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/6/20/52602f21f29ec.jpg",
                        "num_comics": "99",
                        "num_events": "0",
                        "num_series": "35",
                    },
                    "id": "1",
                    "links": {
                       "self": "http://marveldb.net/api/creators/1"
                    },
                    "relationships": {
                        "comics": {
                            "data": [99],
                            "links": {
                                "related": "/api/creators/1/comics",
                                "self": "/api/creators/1/relationships/comics"
                            }
                        },
                        "events": {
                            "data": [
                                {
                                    "id": "2",
                                    "type": "events"
                                },
                                {
                                    "id": "3",
                                    "type": "events"
                                }
                            ],
                            "links": {
                                "related": "/api/creators/1/events",
                                "self": "/api/creators/1/relationships/events"
                            }
                        },
                        "series": {
                            "data": [99],
                            "links": {
                                "related": "/api/creators/1/series",
                                "self": "/api/creators/1/relationships/series"
                            }
                        }
                    },
                    "type": "creators"
                    }
                ],  
                "jsonapi": {
                    "version": "1.0"
                },
                "links": {
                    "first": "http://marveldb.net/api/creators?page[number]=1&page[size]=6",
                    "last": "http://marveldb.net/api/creators?page[number]=1020&page[size]=6",
                    "next": "http://marveldb.net/api/creators?page[number]=2&page[size]=6",
                    "prev": null,
                    "self": "/api/creators"
                },
                "meta": {
                    "total": 6115
                }
            }


## Creator [/creators/{id}]
Retrieves information for a specific comic book. 

+ Parameters 
    + id : 1 (number) - a unique identifier of the comic book.


### Retrieve Single Creator [GET]
+ Response 200 (application/json)

    + Body 
    
            {
                "data": {
                    "attributes": {
                        "full_name": "Garth Ennis",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/e/f0/4bc6ad5b4bd54.jpg",
                        "num_comics": "99",
                        "num_events": "0",
                        "num_series": "24"
                    },
                    "id": "2",
                    "links": {
                        "self": "http://marverldb.net/api/creators/2"
                    },
                    "relationships": {
                        "comics": {
                            "data": [99],
                            "links": {
                                "related": "/api/creators/2/comics",
                                "self": "/api/creators/2/relationship/comics"
                            }
                        },
                        "events": {
                            "data": [],
                            "links": {
                                "related": "/api/creators/2/events",
                                "self": "/api/creators/2/relationships/events"
                            }
                        },
                        "series": {
                            "data": [],
                            "links": {
                                "related": "/api/creators/2/series",
                                    "self": "/api/creators/2/relationships/series"
                                }
                            }
                        },
                        "type": "creators"
                    },
                    "jsonapi": {
                        "version": "1.0"
                    },
                    "links": {
                        "self": "/api/creators"
                    },
                    "meta": {}
                }


# Group Series
All event related resources from the Marvel-World API.

## Series Collection [/series]
A collection of all the series that are available in the Marvel-World database. The list of series contains a series' title, image, and a unique ID. The unique ID can be used to look up a certain series.

### Get All Comic Series [GET]

+ Response 200 (application/json)

    + Body
    
            { 
                "data": [
                   {
                    "attributes": {
                        "desc": "Tim Bradstreet",
                        "end": "1999",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/c/00/4bc670e9a43ab.jpg",
                        "num_characters": "0",
                        "num_comics": "1",
                        "num_events": "0",
                        "num_creators": "0",
                        "start": "1999",
                        "title": "Best of Spider-Man Vol. I (1999)"
                    },
                    "id": "4",
                    "links": {
                       "self": "http://marveldb.net/api/series/4"
                    },
                    "relationships": {
                        "characters": {
                            "data": [],
                            "links": {
                                "related": "/api/series/4/characters",
                                "self": "/api/series/4/relationships/characters"
                            }
                        },
                        "comics": {
                            "data": [
                                {
                                    "id": "939",
                                    "type": "comics"
                                }
                            ],
                            "links": {
                                "related": "/api/series/4/comics",
                                "self": "/api/series/4/relationships/comics"
                            }
                        },
                        "creators": {
                            "data": [],
                            "links": {
                                "related": "/api/series/4/creators",
                                "self": "/api/series/4/relationship/creators"
                            }
                        },
                        "events": {
                            "data": [],
                            "links": {
                                "related": "/api/series/4/events",
                                "self": "/api/series/4/relationships/events"
                            }
                        }
                    },
                    "type": "series"
                    }
                ],  
                "jsonapi": {
                    "version": "1.0"
                },
                "links": {
                    "first": "http://marveldb.net/api/series?page[number]=1&page[size]=6",
                    "last": "http://marveldb.net/api/series?page[number]=157&page[size]=6",
                    "next": "http://marveldb.net/api/series?page[number]=2&page[size]=6",
                    "prev": null,
                    "self": "/api/series"
                },
                "meta": {
                    "total": 9467
                }
            }
                  
                  
## Series [/series/{id}]
Retrieves information for a specific comic series.

+ Parameters 
    + id : 1 (number) - a unique identifier of the comic series.

### Retrieve Single Comic Series [GET]
+ Response 200 (application/json)

    + Body 
    
            { 
                "data": [
                   {
                    "attributes": {
                        "desc": "Award-winning writer Neil Gaiman teams with artist Andy Kubert to re-imagine the Marvel Universe in the year 1602! It's Spider-Man, the X-Men, Nick Fury, Doctor Strange, Daredevil and more as you'd never think to imagine them in an utterly unique and thrilling tale of high adventure!",
                        "end": "1994",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/a/20/57e448f5d8a2f.jpg",
                        "num_characters": "1",
                        "num_comics": "3",
                        "num_creators": "5",
                        "num_events": "0",
                        "start": "1993",
                        "title": "2099 Unlimited (1993-1994)"
                    },
                    "id": "20018",
                    "links": {
                       "self": "http://marveldb.net/api/series/20018"
                    },
                    "relationships": {
                        "characters": {
                            "data": [
                                {
                                    "id": "1014873",
                                    "type": "characters"
                                }
                            ],
                            "links": {
                                "related": "/api/series/20018/characters",
                                "self": "/api/series/20018/relationships/characters"
                            }
                        },
                        "comics": {
                            "data": [
                                {
                                    "id": "53427",
                                    "type": "comics"
                                },
                                {
                                    "id": "53426",
                                    "type": "comics"
                                },
                                { 
                                    "id": "53425",
                                    "type": "comics"
                                }
                            ],
                            "links": {
                                "related": "/api/series/20018/comics",
                                "self": "/api/series/20018/relationships/comics"
                            }
                        },
                        "creators": {
                            "data": [
                                {
                                    "id": "3780",
                                    "type": "creators"
                                },
                                {
                                    "id": "376",
                                    "type": "creators"
                                },
                                {
                                    "id": "3796",
                                    "type": "creators"
                                },
                                {
                                    "id": "1281",
                                    "type": "creators"
                                },
                                {
                                    "id": "3648",
                                    "type": "creators"
                                }
                            ],
                            "links": {
                                "related": "/api/series/20018/creators",
                                "self": "/api/series/20018/relationship/creators"
                            }
                        },
                        "events": {
                            "data": [],
                            "links": {
                                "related": "/api/series/20018/events",
                                "self": "/api/series/20018/relationships/events"
                            }
                        }
                    },
                    "type": "series"
                    }
                ],  
                "jsonapi": {
                    "version": "1.0"
                },
                "links": {
                    "self": "/api/series"
                },
                "meta": {}
            }
                


# Group Comics
All comic related resources from the MarvelDB API.

## Comic Collection [/comics]
A collection of all the comics that are available. The list of comics contain a comic's title, image, and a unique ID that can be used to look up a certain comic.

### Get All Comics [GET]

+ Response 200 (application/json)

    + Body
    
            { 
                "data": [
                   {
                    "attributes": {
                        "desc": "It's an inside look at the Marvel Universe's most notorious newspaper, the Daily Bugle! Former super hero and current private investigator Jessica Jones has just been offered a new job: a position with the Bugle's new super-hero section, The Pulse! Jessica's first assignment: to uncover the true identity of a former Bugle reporter's super-powered murderer! How is millionaire industrialist Norman Osborn involved in the case? And how will Jessica's shocking discovery affect the entire Marvel Universe? Collecting THE PULSE #1-5.",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/b/90/4bc6b7134bd0b.jpg",
                        "issue_num": "0",
                        "num_characters": "5",
                        "num_creators": "7",
                        "num_events": "0",
                        "pg_ct": "0",
                        "price": "9.99",
                        "title": "The Pulse Vol. 1: Thin Air (Trade Paperback)",
                        "upc": "5960611332-00111"
                    },
                    "id": "3",
                    "links": {
                       "self": "http://marveldb.net/api/comics/3"
                    },
                    "relationships": {
                        "characters": {
                            "data": [
                                {
                                    "id": "1010782",
                                    "type": "characters"
                                },
                                {
                                    "id": "1009372",
                                    "type": "characters"
                                },
                                {
                                    "id": "1009378",
                                    "type": "characters"
                                },
                                {
                                    "id": "1009215",
                                    "type": "characters"
                                },
                                {
                                    "id": "1009610",
                                    "type": "characters"
                                }
                            ],
                            "links": {
                                "related": "/api/comics/3/characters",
                                "self": "/api/comics/3/relationships/characters"
                            }
                        },
                        "creators": {
                            "data": [
                                {
                                    "id": "87",
                                    "type": "creators"
                                },
                                {
                                    "id": "24",
                                    "type": "creators"
                                },
                                {
                                    "id": "8522",
                                    "type": "creators"
                                },
                                {
                                    "id": "243",
                                    "type": "creators"
                                },
                                {
                                    "id": "362",
                                    "type": "creators"
                                },
                                {
                                    "id": "652",
                                    "type": "creators"
                                },
                                {
                                    "id": "361",
                                    "type": "creators"
                                }
                            ],
                            "links": {
                                "related": "/api/comics/3/creators",
                                "self": "/api/comics/3/relationship/creators"
                            }
                        },
                        "events": {
                            "data": [],
                            "links": {
                                "related": "/api/comics/3/events",
                                "self": "/api/comics/3/relationships/events"
                            }
                        },
                        "series": {
                            "data": [
                                {
                                    "id": "1192",
                                    "type": "series"
                                }
                            ],
                            "links": {
                                "related": "/api/comics/3/series",
                                "self": "/api/comics/3/relationships/series"
                            }
                        }
                    },
                    "type": "comics"
                    }
                ],  
                "jsonapi": {
                    "version": "1.0"
                },
                "links": {
                    "first": "http://marveldb.net/api/comics?page[number]=1&page[size]=6",
                    "last": "http://marveldb.net/api/comics?page[number]=5698&page[size]=6",
                    "next": "http://marveldb.net/api/comics?page[number]=2&page[size]=6",
                    "prev": null,
                    "self": "/api/comics"
                },
                "meta": {
                    "total": 34187
                }
            }


## Comic [/comics/{id}]
Retrieves information for a specific comic. 

+ Parameters 
    + id : 1 (number) - a unique identifier of the comic.

### Retrive Certain Comic [GET]    
+ Response 200 (application/json)

    + Body
    
            { 
                "data": [
                   {
                    "attributes": {
                        "desc": "PART 1 (OF 1)\GUEST-STARRING THE FANTASTIC FOUR, DOCTOR STRANGE, THE BLACK CAT AND THE ANGEL! Ben Grimm's all-night poker games have become legendary among the super hero set, and for the first time Spider-Man has been asked to join the table! But when the Kingpin unexpectedly deals himself in, the stakes are raised! Can the wall-crawler come out on top in this celebrity poker showdown?",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/5/30/57e567f68579f.jpg",
                        "issue_num": "21",
                        "num_characters": "1",
                        "num_creators": "4",
                        "num_events": "0",
                        "pg_ct": "0",
                        "price": "2.25",
                        "title": "Spectacular Spider-Man (2003) #21",
                        "upc": "5960605427-02111"
                    },
                    "id": "5",
                    "links": {
                       "self": "http://marveldb.net/api/comics/5"
                    },
                    "relationships": {
                        "characters": {
                            "data": [
                                {
                                    "id": "1009610",
                                    "type": "characters"
                                }
                            ],
                            "links": {
                                "related": "/api/comics/5/characters",
                                "self": "/api/comics/5/relationships/characters"
                            }
                        },
                        "creators": {
                            "data": [
                                {
                                    "id": "355",
                                    "type": "creators"
                                },
                                {
                                    "id": "605",
                                    "type": "creators"
                                },
                                {
                                    "id": "55",
                                    "type": "creators"
                                },
                                {
                                    "id": "361",
                                    "type": "creators"
                                }
                            ],
                            "links": {
                                "related": "/api/comics/5/creators",
                                "self": "/api/comics/5/relationship/creators"
                            }
                        },
                        "events": {
                            "data": [],
                            "links": {
                                "related": "/api/comics/5/events",
                                "self": "/api/comics/5/relationships/events"
                            }
                        },
                        "series": {
                            "data": [
                                {
                                    "id": "556",
                                    "type": "series"
                                }
                            ],
                            "links": {
                                "related": "/api/comics/5/series",
                                "self": "/api/comics/5/relationships/series"
                            }
                        }
                    },
                    "type": "comics"
                    }
                ],  
                "jsonapi": {
                    "version": "1.0"
                },
                "links": {
                    "self": "/api/comics"
                },
                "meta": {}
            }


# Group Events
All event related resources from the Marvel-World API.

## Event Collection [/events]
A collection of all the events that are available. The list of events contains an event's title, image, and a unique ID. The unique ID can be used to look up a certain event.

### Get All Events [GET]

+ Response 200 (application/json)

    + Body
    
            { 
                "data": [
                   {
                    "attributes": {
                        "desc": "The Magus, the purged, evil side of Adam Warlock believed to have been dead, has returned in order to collect the Infinity Gems and recreate the Infinity Gauntlet itself. He sent evil doppelgangers of Marvel's superheroes to attack and usurp the originals. Thanos, exiled since his defeat during the Infinity Gauntlet event, learned of the Magus' plans and set out to aid Adam Warlock and the heroes in defending the universe.",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/b/10/51ca14b3dce00.jpg",
                        "num_characters": "57",
                        "num_comics": "40",
                        "num_creators": "106",
                        "num_series": "13",
                        "title": "Infinity War",
                    },
                    "id": "29",
                    "links": {
                       "self": "http://marveldb.net/api/events/29"
                    },
                    "relationships": {
                        "characters": {
                            "data": [57],
                            "links": {
                                "related": "/api/events/29/characters",
                                "self": "/api/events/29/relationships/characters"
                            }
                        },
                        "comics": {
                            "data": [40],
                            "links": {
                                "related": "/api/events/29/comics",
                                "self": "/api/events/29/relationship/comics"
                            }
                        },
                        "creators": {
                            "data": [106],
                            "links": {
                                "related": "/api/events/29/creators",
                                "self": "/api/events/29/relationship/creators"
                            }
                        },
                        "series": {
                            "data": [13],
                            "links": {
                                "related": "/api/events/29/series",
                                "self": "/api/events/29/relationships/series"
                            }
                        }
                    },
                    "type": "events"
                    }
                ],  
                "jsonapi": {
                    "version": "1.0"
                },
                "links": {
                    "first": "http://marveldb.net/api/events?page[number]=1&page[size]=6",
                    "last": "http://marveldb.net/api/events?page[number]=18&page[size]=6",
                    "next": "http://marveldb.net/api/events?page[number]=2&page[size]=6",
                    "prev": null,
                    "self": "/api/events"
                },
                "meta": {
                    "total": 106
                }
            }
            
## Event [/events/{id}]
Retrieves information for a specific event. 

+ Parameters 
    + id : 1 (number) - a unique identifier of the event.

### Retrive Certain Event [GET]    
+ Response 200 (application/json)

    + Body
    
            { 
                "data": [
                   {
                    "attributes": {
                        "desc": "The Magus, the purged, evil side of Adam Warlock believed to have been dead, has returned in order to collect the Infinity Gems and recreate the Infinity Gauntlet itself. He sent evil doppelgangers of Marvel's superheroes to attack and usurp the originals. Thanos, exiled since his defeat during the Infinity Gauntlet event, learned of the Magus' plans and set out to aid Adam Warlock and the heroes in defending the universe.",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/b/10/51ca14b3dce00.jpg",
                        "num_characters": "57",
                        "num_comics": "40",
                        "num_creators": "106",
                        "num_series": "13",
                        "title": "Infinity War",
                    },
                    "id": "29",
                    "links": {
                       "self": "http://marveldb.net/api/events/29"
                    },
                    "relationships": {
                        "characters": {
                            "data": [57],
                            "links": {
                                "related": "/api/events/29/characters",
                                "self": "/api/events/29/relationships/characters"
                            }
                        },
                        "comics": {
                            "data": [40],
                            "links": {
                                "related": "/api/events/29/comics",
                                "self": "/api/events/29/relationship/comics"
                            }
                        },
                        "creators": {
                            "data": [106],
                            "links": {
                                "related": "/api/events/29/creators",
                                "self": "/api/events/29/relationship/creators"
                            }
                        },
                        "series": {
                            "data": [13],
                            "links": {
                                "related": "/api/events/29/series",
                                "self": "/api/events/29/relationships/series"
                            }
                        }
                    },
                    "type": "events"
                    }
                ],  
                "jsonapi": {
                    "version": "1.0"
                },
                "links": {
                    "self": "/api/events"
                },
                "meta": {}
            }
