FORMAT: 1A
HOST: http://marveldb.net/api

# Marvel-World API

Marvel-World is a simple API allowing users to view characters, comics, series, and events of the Marvel-World database.  


# Group Characters
Character related resources from the Marvel-World API.
## Character Collection [/characters]
A list of all the characters available. This list contains the characters names,
along with their unique ID's. The unique ID can be used to look up a certain character.
### Get All Characters [GET]
+ Response 200 (application/json)

            { 
                "data": [
        		   {
        			"attributes": {
        				"desc": "AIM is a terrorist organization bent on destroying the world.",
        				"img": "http://i.annihil.us/u/prod/marvel/i/mg/6/20/52602f21f29ec.jpg",
        				"name": "A.I.M.",
        				"num_comics": "33",
        				"num_events": "0",
        	            "num_series": "23",
         			},
        			"id": "1009144",
        			"links": {
        			   "self": "http://marveldb.net/api/characters/1009144"
        			},
        			"relationships": {
        				"comics": {
        				 	"data": [],
        					"links": {
        						"related": "/api/characters/1009144/comics",
        						"self": "/api/characters/1009144/relationships/comics"
        					}
        				},
        				"events": {
        					"data": [],
        					"links": {
        						"related": "/api/characters/1009144/events",
        						"self": "/api/characters/1009144/relationships/events"
        					}
        				},
        				"series": {
        					"data": [],
        					"links": {
        						"related": "/api/characters/1009144/series",
        						"self": "/api/characters/1009144/relationships/series"
        					}
        				}
        			},
        			"type": "characters"
        		},
            		{
            			 "attributes": {
                            "desc": "",
                            "img": "",
                            "name": "Abomination (Ultimate)",
                            "num_comics": "3",
                            "num_events": "0",
                            "num_series": "3",
                        },
                            "id": "1016823",
                            "links": {
                            "self": "http://marveldb.net/api/characters/1016823"
                            },
                            "relationships": {
                                "comics": {
                                    "data": [3],
                                    "links": {
                                    "related": "/api/characters/1016823/comics",
                                    "self": "/api/characters/1016823/relationships/comics"
                                    }
                               },
                               "events": {
                                    "data": [0],
                                    "links": {
                                    "related": "/api/characters/1016823/events",
                                    "self": "/api/characters/1016823/relationships/events"
                                    }
                                },
                                "series": {
                                    "data": [],
                                    "links": {
                                    "related": "/api/characters/1016823/series",
                                    "self": "/api/characters/1016823/relationships/series"
                                    }
                                }
                            },
                            "type": "characters"
                        }
                    ],
                    "jsonapi": {
                        "version": "1.0"
                    },
                    "links": {
                        "first": "http://marveldb.net/api/characters?page[number]=1&page[size]=6",
                        "last": "http://marveldb.net/api/characters?page[number]=255&page[size]=6",
                        "next": "http://marveldb.net/api/characters?page[number]=2&page[size]=6",
                        "prev": null,
                        "self": "/api/characters"
                    },
                    "meta": {
                        "total": 1526
                    }
                }
			


## Character [/characters/{id}]
Retrieves information on a certain character.
+ Parameters
    + id: 1 (required, number) - unique id for each character


### Retrieve Single Character [GET]
+ Response 200 (application/json)

    + Body
    
              {
                    "data": {
                        "attributes": {
                            "desc": "",
                            "img": null,
                            "name": "Abomination (Ultimate)",
                            "num_comics": "3",
                            "num_events": "0",
                            "num_series": "3"
                        },
                        "id": "1016823",
                        "links": {
                            "self": "http://marverldb.net/api/characters/1016823"
                        },
                        "relationships": {
                            "comics": {
                                "data": [
                                    {
                                        "id": "1186",
                                        "type": "comics"
                                    },
                                    {
                                        "id": "1151",
                                        "type": "comics"
                                    },
                                    {
                                        "id": "15717",
                                        "type": comics"
                                    }
                                ],
                                "links": {
                                    "related": "/api/characters/1016823/comics",
                                    "self": "/api/characters/101682/relationship/comics"
                                }
                            },
                            "events": {
                                "data": [],
                                "links": {
                                    "related": "/api/characters/1016823/events",
                                    "self": "/api/characters/1016823/relationships/events"
                                }
                            },
                            "series": {
                                "data": [
                                    {
                                        "id": "474",
                                        "type": "series"
                                    },
                                    {
                                        "id": "210",
                                        "type": "series"
                                    },
                                    {
                                        "id": "243",
                                        "type": "series"
                                    }
                                ],
                                "links": {
                                    "related": "/api/characters/1016823/series",
                                    "self": "/api/characters/1016823/relationships/series"
                                }
                            }
                        },
                        "type": "characters"

                    },
                    "jsonapi": {
                        "version": "1.0"
                    },
                    "links": {
                        "self": "/api/characters"
                    },
                    "meta": {}
                }


# Group Creators
Comic related resources of the Marvel-World API.

## Creator Collection [/creators]
A collection of all the comic books that are available. The list of comics contains a comic's title, image, and a unique ID. The unique ID can be used to look up a certain comic.

### Get All Creators [GET]
+ Response 200 (application/json)

    + Body
    
            { 
                "data": [
                   {
                    "attributes": {
                        "full_name": "Tim Bradstreet",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/6/20/52602f21f29ec.jpg",
                        "num_comics": "99",
                        "num_events": "0",
                        "num_series": "35",
                    },
                    "id": "1",
                    "links": {
                       "self": "http://marveldb.net/api/creators/1"
                    },
                    "relationships": {
                        "comics": {
                            "data": [99],
                            "links": {
                                "related": "/api/creators/1/comics",
                                "self": "/api/creators/1/relationships/comics"
                            }
                        },
                        "events": {
                            "data": [
                                {
                                    "id": "2",
                                    "type": "events"
                                },
                                {
                                    "id": "3",
                                    "type": "events"
                                }
                            ],
                            "links": {
                                "related": "/api/creators/1/events",
                                "self": "/api/creators/1/relationships/events"
                            }
                        },
                        "series": {
                            "data": [99],
                            "links": {
                                "related": "/api/creators/1/series",
                                "self": "/api/creators/1/relationships/series"
                            }
                        }
                    },
                    "type": "creators"
                    }
                ],  
                "jsonapi": {
                    "version": "1.0"
                },
                "links": {
                    "first": "http://marveldb.net/api/creators?page[number]=1&page[size]=6",
                    "last": "http://marveldb.net/api/creators?page[number]=1020&page[size]=6",
                    "next": "http://marveldb.net/api/creators?page[number]=2&page[size]=6",
                    "prev": null,
                    "self": "/api/creators"
                },
                "meta": {
                    "total": 6115
                }
            }


## Creator [/creators/{id}]
Retrieves information for a specific comic book. 

+ Parameters 
    + id : 1 (number) - a unique identifier of the comic book.


### Retrieve Single Creator [GET]
+ Response 200 (application/json)

    + Body 
    
            {
                "data": {
                    "attributes": {
                        "full_name": "Garth Ennis",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/e/f0/4bc6ad5b4bd54.jpg",
                        "num_comics": "99",
                        "num_events": "0",
                        "num_series": "24"
                    },
                    "id": "2",
                    "links": {
                        "self": "http://marverldb.net/api/creators/2"
                    },
                    "relationships": {
                        "comics": {
                            "data": [99],
                            "links": {
                                "related": "/api/creators/2/comics",
                                "self": "/api/creators/2/relationship/comics"
                            }
                        },
                        "events": {
                            "data": [],
                            "links": {
                                "related": "/api/creators/2/events",
                                "self": "/api/creators/2/relationships/events"
                            }
                        },
                        "series": {
                            "data": [],
                            "links": {
                                "related": "/api/creators/2/series",
                                    "self": "/api/creators/2/relationships/series"
                                }
                            }
                        },
                        "type": "creators"
                    },
                    "jsonapi": {
                        "version": "1.0"
                    },
                    "links": {
                        "self": "/api/creators"
                    },
                    "meta": {}
                }


# Group Series
All event related resources from the Marvel-World API.

## Series Collection [/series]
A collection of all the series that are available in the Marvel-World database. The list of series contains a series' title, image, and a unique ID. The unique ID can be used to look up a certain series.

### Get All Comic Series [GET]

+ Response 200 (application/json)

    + Body
    
            {
                "num_results": "9433",
                "objects": [
                  {
                    "characters": [
                        {
                            "desc": "",
                            "id": "1009318",
                            "img": "http://i.annihil.us/u/prod/marvel/i/mg/3/80/52696ba1353e7.jpg",
                            "name": "Ghost Rider (Johnny Blaze)",
                            "num_comics": "235",
                            "num_events": "6",
                            "num_series": "64"
                        },
                        {
                            "desc": "Bitten by a radioactive spider, high school student Peter Parker gained the speed, strength and powers of a spider. Adopting the name Spider-Man, Peter hoped to start a career using his new abilities. Taught that with great power comes great responsibility, Spidey has vowed to use his powers to help people.",
                            "id": "1009610",
                            "img": "http://i.annihil.us/u/prod/marvel/i/mg/3/50/526548a343e4b.jpg",
                            "name": "Spider-Man",
                            "num_comics": "2973",
                            "num_events": "32",
                            "num_series": "638"
                        }
                    ],
                    "creators": [
                        {
                            "full_name": "Axel Alonso",
                            "id": "4014",
                            "img": "http://i.annihil.us/u/prod/marvel/i/mg/9/10/4bc4782a5a42e.jpg",
                            "num_comics": "480",
                            "num_events": "9",
                            "num_series": "152"
                        }
                    ],
                    "desc": "",
                    "end": "1999",
                    "events": [],
                    "id": "3",
                    "img": "http://i.annihil.us/u/prod/marvel/i/mg/f/20/4ba92cccf096a.jpg",
                    "num_characters": "0",
                    "num_comics": "1",
                    "num_creators": "0",
                    "num_events": "0",
                    "start": "1999",
                    "title" : "Amazing Spider-Man Vol. III: Until the Stars Turn Cold (1999)"
                ]
            }
                  
                  
## Series [/series/{id}]
Retrieves information for a specific comic series.

+ Parameters 
    + id : 1 (number) - a unique identifier of the comic series.

### Retrieve Single Comic Series [GET]
+ Response 200 (application/json)

    + Body 
    
            {
            
                    "characters": [
                        {
                        "desc": "",
                        "id": "1009191",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/8/a0/523ca6f2b11e4.jpg",
                        "name": "Blade",
                        "num_comics": "39",
                        "num_events": "2",
                        "num_series": "19"
                        },
                        {
                        "desc": "",
                        "id": "1009281",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/3/60/53176bb096d17.jpg",
                        "name": "Doctor Doom",
                        "num_comics": "238",
                        "num_events": "9",
                        "num_series": "128"
                        }
                    ],
                    "creators": [
                        {
                        "full_name": "Howard Chaykin",
                        "id": "808",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/f/40/4bc5e29c24ccf.jpg",
                        "num_comics": "154",
                        "num_events": "4",
                        "num_series": "74"
                        },
                        {
                        "full_name": "Edgar Delgado",
                        "id": "430",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/9/10/4bc4782a5a42e.jpg",
                        "num_comics": "293",
                        "num_events": "11",
                        "num_series": "99"
                        }
                    ],
                    "desc": "",
                    "end": "1999",
                    "events": [
                        {
                        "desc": "After a horrific tragedy raises questions on whether or not super heroes should register with the government, longtime Avengers teammates Captain America and Iron Man end up on opposite sides of the argument! Writer Mark Millar and artist Steve McNiven split the Marvel Universe in two as friend fights friend in one of the most celebrated and successful events of all-time!",
                        "id": "238",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/2/d0/51cb5356c2063.jpg",
                        "num_characters": "89",
                        "num_comics": "140",
                        "num_creators": "140",
                        "num_series": "62",
                        "title": "Civil War"
                        }
                    ],
                    "id": "5",
                    "img": "http://i.annihil.us/u/prod/marvel/i/mg/9/10/4bc670e50bd91.jpg",
                    "num_characters": "3",
                    "num_comics": "1",
                    "num_creators": "15",
                    "num_events": "0",
                    "start": "1999",
                    "title": "Black Window Vol. I (1999)"
            }
                


# Group Comics
All comic related resources from the MarvelDB API.

## Comic Collection [/comics]
A collection of all the comics that are available. The list of comics contain a comic's title, image, and a unique ID that can be used to look up a certain comic.

### Get All Comics [GET]

+ Response 200 (application/json)

    + Body
    
            {
                "num_results": "34186",
                "objects": [
                  {
                    "characters": [5],
                    "creators": [7],
                    "desc": "It's an inside look at the Marvel Universe's most notorious newspaper, the Daily Bugle! Former super hero and current private investigator Jessica Jones has just been offered a new job: a position with the Bugle's new super-hero section, The Pulse! Jessica's first assignment: to uncover the true identity of a former Bugle reporter's super-powered murderer! How is millionaire industrialist Norman Osborn involved in the case? And how will Jessica's shocking discovery affect the entire Marvel Universe? Collecting THE PULSE #1-5.",
                    "events": [],
                    "id": "3",
                    "img": "http://i.annihil.us/u/prod/marvel/i/mg/b/90/4bc6b7134bd0b.jpg",
                    "issue_num": "0",
                    "num_characters": "5",
                    "num_creators": "7",
                    "num_events": "0",
                    "pg_ct": "0",
                    "price": "9.99",
                    "series": [1],
                    "title" : "Amazing Spider-Man Vol. III: Until the Stars Turn Cold (1999)"
                    "upc": "5960611332-00111"
                ]
            }


## Comic [/comics/{id}]
Retrieves information for a specific comic. 

+ Parameters 
    + id : 1 (number) - a unique identifier of the comic.

### Retrive Certain Comic [GET]    
+ Response 200 (application/json)

    + Body
    
            {
                "characters": [5],
                "creators": [7],
                "desc": "It's an inside look at the Marvel Universe's most notorious newspaper, the Daily Bugle! Former super hero and current private investigator Jessica Jones has just been offered a new job: a position with the Bugle's new super-hero section, The Pulse! Jessica's first assignment: to uncover the true identity of a former Bugle reporter's super-powered murderer! How is millionaire industrialist Norman Osborn involved in the case? And how will Jessica's shocking discovery affect the entire Marvel Universe? Collecting THE PULSE #1-5.",
                "id": "3",
                "img": "http://i.annihil.us/u/prod/marvel/i/mg/b/90/4bc6b7134bd0b.jpg",
                "issue_num": "0",
                "num_characters": "5",
                "num_creators": "7",
                "num_events": "0",
                "pg_ct": "0",
                "price": "9.99",
                "series": [1],
                "title": "The Pulse Vol. 1: Thin Air (Trade Paperback)",
                "upc": "5960611332-00111"
            }


# Group Events
All event related resources from the Marvel-World API.

## Event Collection [/events]
A collection of all the events that are available. The list of events contains an event's title, image, and a unique ID. The unique ID can be used to look up a certain event.

### Get All Events [GET]

+ Response 200 (application/json)

    + Body
    
            {
                "num_results": "75",
                "objects": [
                  {
                    "characters": [ 
                            {
                            "desc": "Adam Warlock is an artificially created human who was born in a cocoon at a scientific complex called The Beehive.",
                            "id": "1010354",
                            "img": "http://i.annihil.us/u/prod/marvel/i/mg/a/f0/5202887448860.jpg",
                            "name": "Adam Warlock",
                            "num_comics": "126",
                            "num_events": "10",
                            "num_series": "54"
                            },
                            {
                            "desc": "",
                            "id": "1010370",
                            "img": "http://i.annihil.us/u/prod/marvel/i/mg/1/60/52695277ee088.jpg",
                            "name": "Alpha Flight",
                            "num_comics": "187",
                            "num_events": "5",
                            "num_series": "29"
                            }
                        ],
                    "creators": [
                            {
                            "full_name": "Stein",
                            id: "2632",
                            img: "",
                            num_comics: "7",
                            num_events: "2",
                            num_series: "5"
                            },
                            {
                            full_name: "Paul Becton",
                            id: "1935",
                            img: "http://i.annihil.us/u/prod/marvel/i/mg/f/20/4bb6abafe8516.jpg",
                            num_comics: "179",
                            num_events: "6",
                            num_series: "39"
                            }
                        ],
                    "desc": "The Magus, the purged, evil side of Adam Warlock believed to have been dead, has returned in order to collect the Infinity Gems and recreate the Infinity Gauntlet itself. He sent evil doppelgangers of Marvel's superheroes to attack and usurp the originals. Thanos, exiled since his defeat during the Infinity Gauntlet event, learned of the Magus' plans and set out to aid Adam Warlock and the heroes in defending the universe.",
                    "id": "29",
                    "img": "http://i.annihil.us/u/prod/marvel/i/mg/b/10/51ca14b3dce00.jpg",
                    "num_characters": "57",
                    "num_comics": "40",
                    "num_creators": "106",
                    "num_series": "13",
                    "series": [
                        {
                            "desc": "",
                            "end": "2099",
                            "id": "15616",
                            "img": "",
                            "num_characters": "0",
                            "num_comics": "0",
                            "num_creators": "0",
                            "num_events": "0",
                            "start": "2011",
                            "title": "Alpha Flight (2011 - Present)"
                        }
                    ],
                    "title": "Infinity War"
                }
            }
            
## Event [/events/{id}]
Retrieves information for a specific event. 

+ Parameters 
    + id : 1 (number) - a unique identifier of the event.

### Retrive Certain Event [GET]    
+ Response 200 (application/json)

    + Body
    
            {
                "characters": [
                    {
                        "desc": "",
                        "id": "1009159",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/8/03/526165ed93180.jpg",
                        "name": "Archangel",
                        "num_comics": "549",
                        "num_events": "18",
                        "num_series": "141"
                    }
                ],
                "creators": [
                    {
                        "full_name": "Mark Bagley",
                        "id": "87",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/9/b0/4bc5d2f67f706.jpg",
                        "num_comics": "613",
                        "num_events": "13",
                        "num_series": "201"
                    }
                ],
                "desc": "The terrorist organization A.I.M. seek to resurrect the powerful reality-altering mutant named Proteus, and it's up to the various X-teams and the New Warriors to stop them.",
                "id": "32",
                "img": "http://i.annihil.us/u/prod/marvel/i/mg/d/60/51c9e88b7fbd9.jpg",
                "num_characters": "37",
                "num_comics": "4",
                "num_creators": "35",
                "num_series": "4",
                "series": [
                    {
                        "desc": "The X-Men of tomorrow get their start! Professor X recruits a second class of young students who end forging their own legacy in this fondly remembered series that combined mutant adventure with coming of age drama.",
                        "end": "2004",
                        "id": "563",
                        "img": "http://i.annihil.us/u/prod/marvel/i/mg/a/10/5131014676185.jpg",
                        "num_characters": "14",
                        "num_comics": "13",
                        "num_creators": "22",
                        "num_events": "0",
                        "start": "2003",
                        "title": "New Mutants (2003 - 2004)"
                    },
                ],
                "title": "Kings of Pain"
            }
