{% extends "x-event.html" %}

{% block event %}
<h1 class="page-header">Chaos War</h1>
{% endblock event %}

{% block image %}
<img class="img-responsive" src="http://i.annihil.us/u/prod/marvel/i/mg/f/20/5109a003a9112.jpg" alt="Chaos War">
{% endblock image %}

{% block description %}
<p>When the Chaos King embarks on a campaign to wipe out all of existence, Hercules gathers the God Squad to stand in his way! Writers Greg Pak and Fred Van Lente join artist Khoi Pham to pit Herc and his rag tag team including Thor, the Silver Surfer and Amadeus Choâ against an all-powerful evil as dead heroes and villains rise around them!</p>
{% endblock description %}

{% block information %}
<li><small>No additional information</small></li>
{% endblock information %}

{% block charactersList %}
<div class="row">
	<div class="col-sm-2">
    	<h2>Captain America</h2>
    	<a href="{{ url_for('captainAmerica') }}"><img class="img-thumbnail" src="http://i.annihil.us/u/prod/marvel/i/mg/3/50/537ba56d31087.jpg" alt="Captain America"></a>
	</div>
	<div class="col-sm-2">
    	<h2>Hawkeye</h2>
    	<a href="{{ url_for('hawkeye') }}"><img class="img-thumbnail" src="http://i.annihil.us/u/prod/marvel/i/mg/e/90/50fecaf4f101b.jpg" alt="Hawkeye"></a>
	</div>
	<div class="col-sm-2">
    	<h2>Hulk</h2>
    	<a href="{{ url_for('hulk') }}"><img class="img-thumbnail" src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/538615ca33ab0.jpg" alt="Hulk"></a>
	</div>
</div>
{% endblock charactersList %}

{% block comicsList %}
<div class="col-lg-12 text-center">
	<h2>
		<small>No comics to show for this event.</small>
	</h2>
</div>
{% endblock comicsList %}

{% block seriesList %}
<div class="col-sm-2">
    <h2>Incredible Hulks</h2>
    <a href="#"><img class="img-thumbnail" src="http://i.annihil.us/u/prod/marvel/i/mg/6/50/5130fe4c5d844.jpg" alt="Incredible Hulks"></a>
</div>
{% endblock seriesList %}