{% extends "modelHome.html" %}

{% block model %}
<h1>Events</h1>
{% endblock model %}

{% block modelList %}
    <div class="col-sm-4">
      <h2>Avengers</h2></h2>
      <a href="{{ url_for('avengers') }}"><img src="http://i.annihil.us/u/prod/marvel/i/mg/9/10/519baa6d1890a.jpg" class="img-responsive" style="width:100%" alt="Avengers"></a>
    </div>
    <div class="col-sm-4"> 
      <h2>Exiles</h2>
      <a href="{{ url_for('exiles') }}"><img src="http://i.annihil.us/u/prod/marvel/i/mg/3/10/4bc37e0080808.jpg" class="img-responsive" style="width:100%" alt="Exiles"></a>
    </div>
    <div class="col-sm-4"> 
      <h2>Incredible Hulks</h2>
      <a href="{{ url_for('incredibleHulks') }}"><img src="http://i.annihil.us/u/prod/marvel/i/mg/6/50/5130fe4c5d844.jpg" class="img-responsive" style="width:100%" alt="Incredible Hulks"></a>
    </div>
  </div>
{% endblock modelList %}
