{% extends "x-character.html" %}

{% block charactername %}
<h1 class="page-header">Captain America
    <small style="color:red">Steve Rogers</small>
</h1>
{% endblock charactername %}

{% block image %}
<img class="img-responsive" src="http://i.annihil.us/u/prod/marvel/i/mg/3/50/537ba56d31087.jpg" alt="Captain America">
{% endblock image %}

{% block description %}
<p>Vowing to serve his country any way he could, young Steve Rogers took the super soldier serum to become America's one-man army. Fighting for the red, white and blue for over 60 years, Captain America is the living, breathing symbol of freedom and liberty..</p>
{% endblock description %}

{% block attributes %}
<li>Height:</li>
<li>Weight:</li>
<li>Birthday:</li>
<li>etc</li>
{% endblock attributes %}

{% block comicsList %}
<div class="col-sm-2">
    <h2>Captain America #10</h2>
    <img class="img-thumbnail" src="http://i.annihil.us/u/prod/marvel/i/mg/c/10/4d24fef511cb5.jpg" alt="Captain America #10">
</div>
{% endblock comicsList %}

{% block eventsList %}
<div class="col-sm-2">
    <h2>Chaos War</h2>
    <img class="img-thumbnail" src="http://i.annihil.us/u/prod/marvel/i/mg/f/20/5109a003a9112.jpg" alt="Chaos War">
</div>
{% endblock eventsList %}

{% block seriesList %}
{% endblock seriesList %}