{% extends "x-character.html" %}

{% block charactername %}
<h1 class="page-header">Hawkeye
    <small style="color:red">Clint Barton</small>
</h1>
{% endblock charactername %}

{% block image %}
<img class="img-responsive" src="http://i.annihil.us/u/prod/marvel/i/mg/e/90/50fecaf4f101b.jpg" alt="Hawkeye">
{% endblock image %}

{% block description %}
<p>Trained by criminals, and inspired by heroes, Clint Barton has grown from a troubled youth into one of the greatest heroes on Earth. The world knows him best as Hawkeye: Earth's Mightiest Marksman.</p>
{% endblock description %}

{% block attributes %}
<li>Height:</li>
<li>Weight:</li>
<li>Birthday:</li>
<li>etc</li>
{% endblock attributes %}

{% block comicsList %}
<div class="col-sm-2">
    <h2>Captain Marvel #15</h2>
    <a href="{{ url_for('capMar15') }}"><img class="img-thumbnail" src="http://i.annihil.us/u/prod/marvel/i/mg/3/30/5212647d1bf19.jpg" alt="Captain Marvel #15"></a>
</div>
{% endblock comicsList %}

{% block eventsList %}
<div class="col-sm-2">
    <h2>House of M</h2>
    <a href="{{ url_for('houseOfM') }}"><img class="img-thumbnail" src="http://i.annihil.us/u/prod/marvel/i/mg/e/90/51cb5330eabdf.jpg" alt="House of M"></a>
</div>
{% endblock eventsList %}

{% block seriesList %}
<div class="col-lg-12 text-center">
	<h2><small>No series to show for this character.</small>
	</h2>
</div>
{% endblock seriesList %}