{% extends "x-character.html" %}

{% block charactername %}
<h1 class="page-header">Captain America
    <small style="color:red">Steve Rogers</small>
</h1>
{% endblock charactername %}

{% block secondaryphoto %}
<img class="img-responsive" src="http://i.annihil.us/u/prod/marvel/i/mg/3/50/537ba56d31087.jpg" alt="Captain America">
{% endblock secondaryphoto %}

{% block bio %}
<p>Vowing to serve his country any way he could, young Steve Rogers took the super soldier serum to become America's one-man army. Fighting for the red, white and blue for over 60 years, Captain America is the living, breathing symbol of freedom and liberty..</p>
{% endblock bio %}

{% block physicalattributes %}
<li>Height:</li>
<li>Weight:</li>
<li>Birthday:</li>
<li>etc</li>
{% endblock physicalattributes %}

{% block comicsList %}
<div class="col-sm-2">
    <h2>Captain America #10</h2>
    <img src="http://vignette2.wikia.nocookie.net/marveldatabase/images/f/fb/Captain_America_Comics_Vol_1_10.jpg/revision/latest?cb=20100715211706" alt="Captain America #10">
</div>
{% endblock comicsList %}

{% block seriesList %}
{% endblock seriesList %}

{% block eventsList %}
<div class="col-sm-2">
    <h2>Chaos War</h2>
    <img src="http://vignette1.wikia.nocookie.net/marveldatabase/images/9/95/Chaos_War_Vol_1_1.jpg/revision/latest?cb=20101007003605" alt="Chaos War">
</div>
{% endblock eventsList %}