{% extends "master.html" %}

{% block bodymain %}
    <div class="jumbotron" style="background: transparent">
        <div class="container text-center">
          <h1>COMICS</h1>         
        </div>
    </div>

<div class="container-fluid bg-4 text-center">    
<br><br>
  <div class="row">
    <div class="col-sm-4">
      <p>COMIC 1</p>
      <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/538615ca33ab0.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>COMIC 2</p>
      <img src="http://i.annihil.us/u/prod/marvel/i/mg/3/50/537ba56d31087.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>COMIC 3</p>
      <img src="http://i.annihil.us/u/prod/marvel/i/mg/e/90/50fecaf4f101b.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>


{% endblock bodymain %}