{% extends "x-character.html" %}

{% block charactername %}
<h1 class="page-header">Hulk
    <small style="color:red">Bruce Banner</small>
</h1>
{% endblock charactername %}

{% block secondaryphoto %}
<img class="img-responsive" src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/538615ca33ab0.jpg" alt="Hulk">
{% endblock secondaryphoto %}

{% block bio %}
<p>Caught in a gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk. An all too often misunderstood hero, the angrier the Hulk gets, the stronger the Hulk gets.</p>
{% endblock bio %}

{% block physicalattributes %}
<li>Height:</li>
<li>Weight:</li>
<li>Birthday:</li>
<li>etc</li>
{% endblock physicalattributes %}

{% block comicsList %}
<div class="col-sm-2">
    <h2>Chaos War #5</h2>
    <img src="https://i.annihil.us/u/prod/marvel/i/mg/3/40/4f57d7051d323/portrait_incredible.jpg" alt="Chaos War #5">
</div>
{% endblock comicsList %}

{% block seriesList %}
{% endblock seriesList %}

{% block eventsList %}
<div class="col-sm-2">
    <h2>Infinity</h2>
    <img src="http://vignette2.wikia.nocookie.net/marveldatabase/images/f/f7/Infinity_%28Event%29_003.jpg/revision/latest?cb=20130429204345" alt="Infinity">
</div>
{% endblock eventsList %}