{% extends "master.html" %}

{% block bodymain %}
<div class="jumbotron" style="background: transparent">
  	<div class="container text-center">
   		<h2>Welcome to the</h2>
   		<h1>MARVEL COMICS DATABASE</h1>
   		<p>To get started exploring our (limited) Marvel Database, use the navbar above!</p>
  	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span"></div>
		<div class="span">
			<img class="center-block" src="http://i.annihil.us/u/prod/marvel/i/mg/9/60/50febc4f55525.jpg" alt="Fantastic Four">
		</div>
  		<div class="span"></div>
  	</div>
</div>
{% endblock bodymain %}
