<!DOCTYPE html>
<html lang="en">
<head>
  <title>Marvel DB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/my.css">
  <link href="https://fonts.googleapis.com/css?family=Marvel:700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body id="mycss" style="font-family: Marvel; background-color: black; color: white">
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: red; font-size: 22px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{ url_for('home') }}" style="font-size: 30px">MARVEL</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('home') }}">HOME</a></li>
        <li><a href="{{ url_for('charactersHome') }}">CHARACTERS</a></li>
        <li><a href="{{ url_for('comicsHome') }}">COMICS</a></li>
        <li><a href="{{ url_for('eventsHome') }}">EVENTS</a></li>
        <li><a href="#">SERIES</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block bodymain %}{% endblock bodymain %}

<br>
<br>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</footer>
</html>
