{% extends "x-series.html" %}

{% block series %}
<h1 class="page-header">Avengers</h1>
{% endblock series %}

{% block image %}
<img class="img-responsive" src="http://i.annihil.us/u/prod/marvel/i/mg/9/10/519baa6d1890a.jpg" alt="Avengers">
{% endblock image %}

{% block description %}
<p>Avengers Assemble! Iron Man, Thor, Captain America and the rest of Earth's Mightiest Heroes unite to stand against the threats none can face alone! See the Avengers go up against Ultron, Kang, the Masters of Evil and more over three decades of epic action!</p>
{% endblock description %}

{% block information %}
<li>Start/End Year: 1963 - 1996</li>
{% endblock information %}

{% block charactersList %}
<div class="row">
	<div class="col-sm-2">
    	<h2>Captain America</h2>
    	<a href="{{ url_for('captainAmerica') }}"><img class="img-thumbnail" src="http://i.annihil.us/u/prod/marvel/i/mg/3/50/537ba56d31087.jpg" alt="Captain America"></a>
	</div>
	<div class="col-sm-2">
    	<h2>Hawkeye</h2>
    	<a href="{{ url_for('hawkeye') }}"><img class="img-thumbnail" src="http://i.annihil.us/u/prod/marvel/i/mg/e/90/50fecaf4f101b.jpg" alt="Hawkeye"></a>
	</div>
	<div class="col-sm-2">
    	<h2>Hulk</h2>
    	<a href="{{ url_for('hulk') }}"><img class="img-thumbnail" src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/538615ca33ab0.jpg" alt="Hulk"></a>
	</div>
</div>
{% endblock charactersList %}

{% block comicsList %}
<div class="col-lg-12 text-center">
	<h2>
		<small>No comics to show for this event.</small>
	</h2>
</div>
{% endblock comicsList %}

{% block eventsList %}
<div class="col-sm-2">
    <h2>Infinity</h2>
    <a href="{{ url_for('infinity') }}"><img class="img-thumbnail" src="http://i.annihil.us/u/prod/marvel/i/mg/e/40/51c4aaa0b1f4f.jpg" alt="Infinity"></a>
</div>
{% endblock eventsList %}