<!DOCTYPE html>
<html lang="en">
<head>
  <title>Marvel DB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Boostrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Marvel Font -->
  <link href="https://fonts.googleapis.com/css?family=Marvel:700" rel="stylesheet">

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar .navbar-inverse{
      margin-bottom: 0;
      border-radius: 0;
    }
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #252525;
      padding: 10px;
    }
  </style>

</head>
<body style="font-family: Marvel; background-color: black; color: white">

<div id="content"> </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../static/dist/bundle.js"></script>

</body>

</html>
