{% extends "master.html" %}

{% block bodymain %}
<div class="container" style="font-size: 25px">
    <!-- Portfolio Item Heading -->
    <br>
    <div class="row">
        <div class="col-lg-12">
          {% block charactername %}
          {% endblock charactername %}
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-md-8">
            {% block image %}
            {% endblock image %}
        </div>
        <div class="col-md-4">
            <h2>Character Description</h2>
                {% block description %}
                {% endblock description %}
            <h2>Character Attributes</h2>
            <ul>
                {% block attributes %}
                {% endblock attributes %}
            </ul>
        </div>
    </div>
    <!-- /.row -->
    <br>
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="pill" href="#comics">COMICS</a></li>
        <li><a data-toggle="pill" href="#events">EVENTS</a></li>
        <li><a data-toggle="pill" href="#series">SERIES</a></li>
    </ul>

    <div id="thumbnail" class="tab-content">
        <div id="comics" class="tab-pane fade in active">
            <div class="row">
                {% block comicsList %}
                {% endblock comicsList %}
            </div>
        </div>
        <div id="events" class="tab-pane fade">
            <div class="row">
                {% block eventsList %}
                {% endblock eventsList %}
            </div>
        </div>
        <div id="series" class="tab-pane fade">
            <div class="row">
                {% block seriesList %}
                {% endblock seriesList %}
            </div>
        </div>
    </div>
</div>

{% endblock bodymain %}